.anchor {
  padding: 0.75rem 1.25rem;
  background-color: hsl(var(--clr--surface--card));
  border-radius: 4px;
  border: 2px solid currentColor;
}

.title {
  display: block;
  font-weight: 700;
}

@media (prefers-color-scheme: dark) {
  .anchor {
    border: none;
  }
}
